--swiftversion 5.9
--indent 2
--maxwidth 100
--wraparguments before-first
--wrapcollections before-first
--stripunusedargs closure-only
--self init-only
--commas inline
--trimwhitespace always
--disable redundantReturn,wrapMultilineStatementBraces
